@font-face {
font-family: 'BebasNeueRegular';
src: url('../font/BebasNeue-webfont.eot');
src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
   url('../font/BebasNeue-webfont.woff') format('woff'),
   url('../font/BebasNeue-webfont.ttf') format('truetype'),
   url('../font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
font-weight: normal;
font-style: normal;
}


*{ margin: 0; padding: 0;}

body { overflow: hidden; }
hr
{
	width: 80%;
	margin: 20px auto;
  	border: 0;
  	border-top: 1px solid #eeeeee;
  	border-bottom: 1px solid #ffffff;
}
#clouds{
	padding: 30px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

.title
{
	text-align: center;
	color: #8DB9EB;
	font-family: 'BebasNeueRegular';
	font-size: 72pt;
}


.sun
{
	width: 300px;
	height: 300px;
	top: -150px;
	left: -150px;
	background: #FFDC6B;
	background: -webkit-radial-gradient(center center, circle closest-side, #FFC812 0%, #FFEB12 80%);
	background: -radial-gradient(center center, circle closest-side, #FFC812 0%, #FFEB12 80%);
	background: -moz-radial-gradient(center center, circle closest-side, #FFC812 0%, #FFEB12 80%);
	border: 5px solid #FFDC6B;
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	position: absolute;
}

.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}


.x1 {
	-webkit-animation: moveclouds 60s linear infinite;
	-moz-animation: moveclouds 60s linear infinite;
	-o-animation: moveclouds 60s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 100px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 55s linear infinite;
	-moz-animation: moveclouds 55s linear infinite;
	-o-animation: moveclouds 55s linear infinite;
}

.x3 {
	left: -200px; top: -200px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 45s linear infinite;
	-moz-animation: moveclouds 45s linear infinite;
	-o-animation: moveclouds 45s linear infinite;
}

.x4 {
	left: 400px; top: -250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 60s linear infinite;
	-moz-animation: moveclouds 60s linear infinite;
	-o-animation: moveclouds 60s linear infinite;
}

.x5 {
	left: -150px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 75s linear infinite;
	-moz-animation: moveclouds 75s linear infinite;
	-o-animation: moveclouds 75s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1900px;}
	100% {margin-left: -1900px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1900px;}
	100% {margin-left: -1900px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1900px;}
	100% {margin-left: -1900px;}
}